.container {
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(199, 60, 36);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: brown;
}